<html>
    <head>

    </head>
    
    <body>
        
        <header>
            
            <div class="container">
              
                <div id="brandname">
                    Machine Learning app with Flask
                </div>

                <h2> SMS Classification (SPAM or HAM) </h2>

                </div>

        </header>

        <div class="ml-container">

            <form action="/submit" method="post">
                <p>Enter Your Message Here</p>
                
                <textarea name="comment"  cols="50" rows="10"></textarea>

                <button type="submit"> predict </button>
            
            </form>
        
        </div>
        
    </body>
</html>